---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: timer-to-db
  namespace: '{{ camel_project }}'
spec:
  destination:
    name: in-cluster
    namespace: '{{ camel_project }}'
  source:
    path: camel-examples/timer-to-db/k8s/
    repoURL: '{{ camel_git_repo }}'
    targetRevision: HEAD
  syncPolicy:
    automated: {}
  sources: []
  project: camel-examples
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: broker-to-s3
  namespace: '{{ camel_project }}'
spec:
  destination:
    name: in-cluster
    namespace: '{{ camel_project }}'
  source:
    path: camel-examples/broker-to-s3/k8s/
    repoURL: '{{ camel_git_repo }}'
    targetRevision: HEAD
  syncPolicy:
    automated: {}
  sources: []
  project: camel-examples