apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: camel-examples
spec:
  description: deployment for examples using in Camel demo
  destinations:
    - name: in-cluster
      namespace: '{{ camel_project }}'
      server: 'https://kubernetes.default.svc'
  sourceNamespaces:
    - camel-dev
  sourceRepos:
    - '*'