apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: timer-to-db
  namespace: '{{ camel_project }}'
spec:
  destination:
    name: in-cluster
    namespace: '{{ camel_project }}'
  source:
    path: camel-examples/timer-to-db/k8s/
    repoURL: '{{ camel_git_repo }}'
    targetRevision: HEAD
  sources: []
  project: camel-examples